.DashboardHeader nav {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.DashboardHeader h3 {
  color: white;
  font-size: 24px;
}

.DashboardHeader button {
  padding: 10px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  font-weight: 200;
  transition: all 0.3s ease;
}

.DashboardHeader button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.DashboardHeader a {
  text-decoration: none;
  color: white;
}